{% extends 'base.html' %}
{% block content %}
<div class="sign-in-form" xmlns="http://www.w3.org/1999/html">
        <h2 class="signin-text">Sign-up here below</h2>
    <form method="POST" class="sign-in-form">
        {% csrf_token %}
        {% for field in register_form %}
            <div class="form-input">
                {{field.label_tag}}
                <br>
                <div class="text-over-input">
                    {{field}}
                </div>

                {% for error in field.errors %}
                    <p>{{error}}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="form-input">
            <button class="sign-in-btn" type="submit">Sign up</button>
        </div>
        <div class="form-input">
            <p id="text-for-sign-up">Have an account? <span><a href="{% url 'signin-index' %}" id="sign-up-clicker">Sign in</a></span></p>
        </div>
    </form>
</div>
{% endblock %}
