{% extends 'base.html' %}
{% block content %}
    <p class="fs-1">About us</p>
    <p class="fs-5">With Ship o' cereal it is easy to find your cereal. You can choose from a variety of cereal where you can get a description about each cereal. You can shop in bulk and also just one cereal pack, please take a look at our special deals on cereal.</p>
    <p class="fs-1">Customer service and support</p>
    <p class="fs-5">Help site is available at the bottom of the page where you can get answers to your questions regarding Ship 'o cereal</p>
{% endblock %}