{% extends 'base.html' %}
{% load static %}
{% block content %}
    <script>
        var recentSearch = "{{ recentSearch }}"
        var recentTag = "{{ recentTag }}"
    </script>
    <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
    <p>Home < Catalogue</p>

    <div class="catalogue-top">
        <div class="sort-container">
            <label id="sort-label" for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" style="height: auto;">
                <option id="az-sort" value="az">Name: A to Z</option>
                <option id="za-sort" value="za">Name: Z to A</option>
                <option id="lth-sort" value="lth">Price: low to high</option>
                <option id="htl-sort" value="htl">Price: high to low</option>
            </select>
        </div>
        <div class="filter-container">
            <form method="POST" action="{% url 'catalogue-index' %}">{% csrf_token %}
            <label id="filter-label" for="filter-by">Search tag:</label>

                <select name="filter-by" id="filter-by" style="height: auto;" data-recent_search="{{ recentSearch }}" data-recent_tag="{{ recentTag }}">
                {% for tag in tags %}
                <option id="{{tag.CategoryTag}}-filter" value="{{tag.CategoryID}}">{{tag.CategoryTag}}</option>
                {% endfor %}
                </select>
                <input name="recentSearch" value="{{ recentSearch }}" style="visibility: hidden"></input>
                <input name="recentTag" value="{{ recentTag }}" style="visibility: hidden"></input>
                <button type="submit" id="filter_by_hidden" style="visibility: hidden"></button>
            </form>

        </div>
    </div>

    <div class="items">
        {% for item in items %}
            {% include 'catalogue/Items.html' with item=item %}
        {% empty %}
        <div class="no-search-return">
            <h1 class="no-return-text">The search returned no items</h1>
        </div>
        {% endfor %}

    </div>



{% endblock %}
