{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
    <p>Home < Catalogue</p>
    <div class="catalogue-top">
        <div class="sort-container">
            <label id="sort-label" for="sort-by">Sort by:</label>
            <select name="sort-by" id="sort-by" style="height: auto;">
                <option id="az-sort" value="az">Name: A to Z</option>
                <option id="za-sort" value="za">Name: Z to A</option>
                <option id="lth-sort" value="lth">Price: low to high</option>
                <option id="htl-sort" value="htl">Price: high to low</option>
            </select>
        </div>
        <div class="filter-container">
            <label id="filter-label" for="filter-by">Filter by:</label>
            <select name="filter-by" id="filter-by" style="height: auto;">
                {% for tag in tags %}
                <option id="{{tag.CategoryTag}}-filter" value="{{tag.CategoryID}}">{{tag.CategoryTag}}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="items">
        {% for item in items %}
            {% include 'catalogue/Items.html' with item=item %}
        {% endfor %}
    </div>
{% endblock %}
