{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
    <div class="item-container">
        <div class="product-main-sector">
            <img class="item-img" src="/static/images/Items/{{ item.Image }}">
            <h1>{{ item.Name }}</h1>

            <p>${{ item.Price }}</p>
        </div>

        <div class="product-description-sector">
            <h5>Product details</h5>
            <p>{{ item.Description }}</p>
        </div>
    </div>


{% endblock %}