{% extends 'base.html' %}
{% load static %}
{% block content %}


    <link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
    <div class="item-container">
        <div class="product-main-sector">
            <img class="item-img" src="/static/images/Items/{{ item.Image }}?v={{ item.updated_at }}">
            <img class="item-img" src="/static/images/Items/{{ item.Image_extra }}?v={{ item.updated_at }}">

            <div class="product-name-price">
                <h1>{{ item.Name }}</h1>
                <p>${{ item.Price }}</p>
                <div class="cart-adder">
                    <input type="number" class="form-fill" id="add-to-cart-amount-btn" placeholder="Amount">
                    <button data-quantity="1" data-item={{item.ItemID}} data-action="add" name="intfield" class="add-to-cart-btn update-cart">Set quantity in cart</button>
                </div>
                <div class="tag-container">
                    {% for tag in item.Tags %}
                    <div class="item-tag">{{tag}}</div>
                    {% endfor %}
                </div>



            </div>

        </div>

        <div class="product-description-sector">
            <h5>Product details</h5>
            <p>{{ item.Description }}</p>
        </div>
    </div>


{% endblock %}