.text-primary {
    color: #6862f1!important;
}

.bg-primary {
    background-color: #6862f1!important;
}
.btn-secondary {
    background-color: #6862f1!important;
}

.btn-secondary:hover {
    background-color: #443ec7!important;
}