body {
	background-color: #efeefd;
}

.main_logo {
	max-width: 13rem;
	margin-right: 1rem;
}

.main_profile {
	max-width: 3rem;
	margin-left: 1rem;
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;

}

.container-fluid {
	background-color: white;
}

.btn-outline-success {
	background-color: #efeefd;
	color: #6862f1;
	border-color: white;
}

.btn-outline-success:hover {
	background-color: #6862f1;
	color: #efeefd;
	border-color: white;
}

.form-control {
	background-color: #efeefd;
	border-color: white;
	color: #6862f1;
}

.text-before-product{
	margin-top: 4rem;
	border-bottom: 3px solid #6862f1;
	line-height: 0;
	text-align: center;
}

.text-before-product span {
	background-color: #efeefd;
	padding: 0 10px;
	color: #6862f1;
	font-weight: bolder;
	font-size: 1.5rem;
}

footer {
	width: 100%;
	min-height: 8rem;
	margin-bottom: 0rem;
	position: absolute;
	background-color: #6862f1;
	text-align: center;
	color: white;
	clear: both;
}

.footer-text {
	display: flex;
	justify-content: space-between;
	color: #efeefd;
	font-weight: lighter;
}

.footer-copyright {
 	font-size: small;
	font-weight: lighter;
}

.search-container {
	width: 30%;
	display: flex;
}

#search-box {
	max-width: 20rem;
}

.category-title {
	font-size: xx-large;
	font-weight: bolder;
	color: #6862f1;
	padding-bottom: 1rem;
}

.categories-homepage {
	display: flex;
	justify-content: space-evenly;
}

a {
	color: #6862f1;
}

.categories-img {
	max-width: 7rem;
	margin: 0.2rem;
	margin-top: 0.5rem;

}

.history_container {
	visibility: hidden;
	position: absolute;
	width: 10rem;
	right: 0;
	top: 100%;
}

.history_container.show {
	visibility: visible;
	-webkit-animation: fadeIn 1s;
  	animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
.btn-danger{
 	background-color: #efeefd;
	color: black;
	border-color: white;
	margin-left: 0.3rem;

}

.btn-danger:hover{
 	background-color: #6862f1;
	border: 0;
}

.btn-danger:focus{
 	background-color: #6862f1;
	border: 0;
	box-shadow: none;

}
#add-alert {
	position: -webkit-sticky;
	position: sticky;
	left: 1rem;
	bottom: 1rem;
}
.alert-warning {
	margin-bottom: 2rem;
	color: #216b2b;
    background-color: #b8ebd4;
    border-color: #349358;
	max-width: 50%;
	align-content: center;
}
