#sign-in-form {
    text-align: center;
}

.form-input {
    max-width: 20rem;
    text-align: center;
}

.form-fill {
    background-color: white;
    border-color: darkgrey;
    color: dimgrey;
    border: 1px solid white;
    margin: 0.6rem;
    padding: 0.3rem;
}