{% extends 'base.html' %}
{% block content %}

    <div class="form-signin">
        <form action="">
            <h1 class="signin-text">Please sign in</h1>
            <div class="signin-below">
            <div class="form-input">
                <input type="email" class="form-control" id="signin-email" placeholder="Enter your email address">
            </div>
            <div class="form-input">
                <input type="password" class="form-control" id="signin-password" placeholder="Enter your password">
            </div>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="Remember-me">
                    Remember me
                </label>
            </div>
            <button class="signin-btn">Sign in</button>

        </form>
    </div>
{% endblock %}
