{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profilepage.css' %}">
    <div class="top-of-profile">

            <img id='user-profile-pic' src="/static/images/profilepic_darker.png" alt="Here is the profile pic">
            <button class="profile-btn">Change image</button>


        <h1>Account Overview</h1>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="user-info-container">
            <div class="user-info-box">
                <h3>Profile</h3>

                {% for field in edit_form %}
                <div>
                    <p style="display: inline-block">{{field.label_tag}}</p>
                    {{field}}
                </div>
                {% endfor %}
                    <!--<p>Username: {{request.user.username}}</p>
                    <p>First Name: {{ data.firstname }} </p>
                    <p>Last Name: {{ data.lastname }}</p>
                    <p>City: {{ data.city }}</p>
                    <p>Postal Code: {{ data.postalcode }}</p>
                    <p>Address: {{ data.address }}</p>
                    <p>House number: {{ data.housenum }}</p>
                    <p>Mobile Phone: {{ data.mobilephone }}</p>
                    <p>Email: {{ data.email }}</p>
                    <p>SSN: {{ data.ssn }}</p>
                    <p>Country: {{ data.country }}</p>-->
            </div>
        </div>
        <div class="user-info-buttons-below">
            <input type="submit" value="Save info" class="profile-btn">
        </div>
    </form>
    <div class="user-info-buttons-below">
        <form action="{% url 'userprofile-index' %}">
            <input type="submit" value="Cancel" class="profile-btn">
        </form>
        <form action="{% url 'logout-index' %}">
            <input type="submit" value="Logout" class="profile-btn">
        </form>
    </div>
{% endblock %}
