{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profilepage.css' %}">
    <div class="top-of-profile">

            <img id='user-profile-pic' src="/static/images/profilepic_darker.png" alt="Here is the profile pic">
            <button class="profile-btn">Change image</button>


        <h1>Account Overview</h1>
    </div>
    <div class="user-info-container">
        <div class="user-info-box">
            <h3>Profile</h3>
            <p>Username: </p>
            <p>Password: </p>
            <p>Email: </p>
            <p>Date of birth: </p>
            <p>Country: </p>
            <p>City/town: </p>
            <p>Postal code/ZIP: </p>
            <p>Address: </p>
            <p>House number: </p>
        </div>
        <div class="search-history-btn">
            <button class="profile-btn">Search history</button>
        </div>
    </div>
    <div class="user-info-buttons-below">
        <button class="profile-btn">Edit profile</button>
        <button class="profile-btn">My purchases</button>
        <form action="{% url 'logout-index' %}">
            <input type="submit" value="Logout" class="profile-btn">
        </form>
    </div>
{% endblock %}
