{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/profilepage.css' %}">
    <div class="top-of-profile">
        {% if user_image == None %}
            <img id='user-profile-pic' src="/static/images/profilepic_darker.png" alt="Here is the profile pic">
        {% else %}
            <img id="user-profile-pic" src="{{ user_image }}">
        {% endif %}



        <h1>Account Overview</h1>
    </div>
    <div class="user-info-container">
        <div class="user-info-box">
            <h3>Profile</h3>
            <p>Username: {{request.user.username}}</p>
            {% if data == None %}
                <p>Please edit profile to put in your shipping information</p>
            {% else %}
                <p>First Name: {{ data.firstname }} </p>
                <p>Last Name: {{ data.lastname }}</p>
                <p>City: {{ data.city }}</p>
                <p>Postal Code: {{ data.postalcode }}</p>
                <p>Address: {{ data.address }}</p>
                <p>House number: {{ data.housenum }}</p>
                <p>Mobile Phone: {{ data.mobilephone }}</p>
                <p>Email: {{ data.email }}</p>
                <p>SSN: {{ data.ssn }}</p>
                <p>Country: {{ data.country }}</p>
            {% endif %}
        </div>
        <form action="{% url 'purchases_index' %}">
            <input type="submit" value="My purchases" class="profile-btn">
        </form>
    </div>
    <div class="user-info-buttons-below">
        <form action="{% url 'edit-profile-index' %}">
            <input type="submit" value="Edit profile" class="profile-btn">
        </form>

        <form action="{% url 'logout-index' %}">
            <input type="submit" value="Logout" class="profile-btn">
        </form>
    </div>
{% endblock %}
