{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/catalogue.css' %}">
<h1 class="signin-text">My Purchases</h1>
<div class="container my-5">

    <div class="d-md-flex d-none justify-content-md-between justify-content-sm-center align-content-center border-bottom border-2 my-2 bg-dark text-light p-3 rounded-3 orders_wrongcolor">
        <div class="col-3 text-sm-center text-md-start align-self-center">
            <h1 class="h5 fw-bold">Order ID</h1>
        </div>
        <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold">Date</h1>
        </div>
        <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold">Total amount</h1>
        </div>
        <div class="col-3 align-self-center">
            <h1 class="h5 fw-bold">Show details</h1>
        </div>
    </div>
{% for order in orders %}
    <div class="d-md-flex d-sm-block justify-content-md-between justify-content-sm-center text-center border-bottom border-2 my-2 bg-light p-2 rounded-3">

        <div class="col-md-3 text-sm-center text-md-start align-self-center my-2">
            <h1 class="h6">{{ order.id }}</h1>
        </div>
        <div class="col-md-3 text-sm-center text-md-start align-self-center my-2">
            <h1 class="h6">{{ order.DatePurchased }}</h1>
        </div>
        <div class="col-md-3 text-sm-center text-md-start align-self-center my-2">
            <h1 class="h6">{{ order.TotalPrice }}</h1>
        </div>
        <div class="col-md-3 text-sm-center text-md-start align-self-center my-2"> <a class="btn btn-outline-dark w-100" href="/checkout/receipt/{{ order.id }}">Details</a> </div>

    </div>
{% endfor %}

</div>
{% endblock %}
