{% extends 'base.html' %}
{% load static %}
{% block content %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <p></p>

    <div class="cart-big-container">
        <div class="products-container">
            <div class="product">
                <img class="cart-product-img" src="/static/images/Items/Waffleos.jpg" style="max-width: 6rem;" alt="">
                <div><p>Some product name</p></div>
                <div><p>516 kr</p></div>
                <div>

                    <div class="quantity">
                        <img class="chg-quantity update-cart" data-product="{{item.ItemID}}" data-action="add"  src="{% static 'images/arrow-up.png' %}" alt="">
                        <p class="quantity">1</p>
                        <img class="chg-quantity update-cart" data-product="{{item.ItemID}}" data-action="remove" src="{% static 'images/arrow-down.png' %}" alt="">
                    </div>
                </div>
            </div>

        </div>



        <div class="checkout-final">
                <div class="col-md-5 col-lg-4 order-md-last">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
              <span class="text-primary">Your cart</span>
              <span class="badge bg-primary rounded-pill">3</span>
            </h4>
            <ul class="list-group mb-3">
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Product name</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$12</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Second product</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$8</span>
              </li>
              <li class="list-group-item d-flex justify-content-between lh-sm">
                <div>
                  <h6 class="my-0">Third item</h6>
                  <small class="text-muted">Brief description</small>
                </div>
                <span class="text-muted">$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between bg-light">
                <div class="text-success">
                  <h6 class="my-0">Promo code</h6>
                  <small>KONRADISCOOL</small>
                </div>
                <span class="text-success">−$5</span>
              </li>
              <li class="list-group-item d-flex justify-content-between">
                <span>Total (USD)</span>
                <strong>$20</strong>
              </li>
            </ul>

            <form class="card p-2">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Promo code">
                <button type="submit" class="btn btn-secondary">Redeem</button>
              </div>
            </form>
          </div>
            <a href="/checkout/" class="btn btn-primary">Proceed to checkout</a>

        </div>

    </div>
    <div>
    <button class="btn-primary">Back to shop</button>
    </div>
{% endblock %}
